/* Principal */
.conteudo{
    background-color: white;
    padding: 10px;
    border-radius: 0.5rem;
    margin: 10px 0;
    width: 100%;
}
.conteudo h2{
    margin-bottom: 18px;
}
.conteudo P{
    margin-bottom: 15px;
}
